.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Alinear al inicio del contenedor */
  min-height: 100vh;
  padding-top: 20px; /* Espaciado superior */
}

h1 {
  margin-bottom: 20px; /* Espaciado inferior para separar del siguiente contenido */
}

p {
  text-align: center; /* Alinear el texto al centro */
  margin: 10px 0; /* Espaciado vertical entre párrafos */
  line-height: 1.5; /* Espaciado entre líneas */
}

p:nth-child(odd) {
  display: block; /* Forzar que cada dos palabras estén debajo */
  clear: both; /* Limpiar el float para garantizar que la segunda línea comience debajo */
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
}

.recommendation {
  margin-top: 20px;
}
